#se {
    position: relative;
    width: 100%;
    height: calc(100% - 35px -64px);
    margin-bottom: calc(35px + 64px);
    -moz-user-select: no1ne;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

#se ul {
    display: flex;
    flex-wrap: wrap;
    min-width: 500px;
    max-width: 1600px;
    margin: 10px 66px;
}

#se ul li {
    /* box-sizing: border-box; */

    border: 1px solid #ccc;
    margin: 10px;
    cursor: pointer;
    border-radius: 6px;
    overflow: hidden;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;

}

#se ul li span {
    padding: 8px;
}

#se ul .isS {
    background: var(--color-blue-light);
    color: #fff;
}

#selection {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top left,
            var(--color-blue-dark),
            var(--color-blue-light));
    opacity: .1;
    color: rgb(36, 138, 129);
    font-size: 16px;
    width: 0;
    height: 0;
    overflow: hidden;
}

footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    padding: 16px 66px 16px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #3b70c633;

}

footer span {
    padding-right: 30px;
}

.professional {
    background-color: var(--color-blue-dark);
    color: #FFF;
    /* margin-left: 10px; */
    border-radius: 5px;
}