/* nav Start */
nav {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    height: 6vh;
    width: 100vw;
    padding-right: 2vw;
    background-color: #1C4C8C;
    background-image: url(../../images/logoSingle.png);
    background-position: 1vw center;
    background-repeat: no-repeat;
    background-size: auto 90%;
}

nav h1 {
    position: relative;
    padding-left: 12vw;
    font-size: 1.3em;
    line-height: 6vh;
    font-weight: 600;
    color: #FFFFFF;
}
nav span {

    font-size: 1em;
    line-height: 6vh;
    font-weight: 600;
    color: #FFFFFF;
}

.search::before {
    font-size: 1.6em;
    line-height: 6vh;
    /* font-weight: 600; */
    color: #FFFFFF;
}

.search_box {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: nowrap;
    align-items: stretch;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #1C4C8C;
}

.search_box input {
    flex-grow: 1;
    border-style: none;
    padding-left: 5vw;
    outline: none;
    font-size: 1.2em;
    background-color: rgb(249, 247, 247);
}

.search_box input:focus {
    border-style: none;
    outline: none;
}

.search_box input::placeholder {
    color: #888;
}

.close {
    padding: 0 2vw;
}

.close::before {
    font-size: 1.6em;
    line-height: 6vh;
    /* font-weight: 600; */
    color: #FFFFFF;
}

/* nav End */

/* aside Start */
aside {
    margin-top: 1vh;
    padding: 0 6vw;
    height: 4vh;
    width: 100vw;
    /* background-color: paleturquoise; */
}

aside ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: palevioletred; */
}

aside ul li {
    /* color: #1C4C8C; */
    /* line-height: 4vh; */
    color: #333;
    padding: 0 2vw;
    font-size: 0.9em;
    border-radius: 4vh;
    border: 1px solid #648cbf;
}

aside .replay::before {
    font-size: 1em;
}

/* aside End */

/* main Start */
main {
    margin-top: 1.5vh;
    padding: 0 6vw;
    width: 100vw;
    /* background-color: palevioletred; */
}

main>ul {
    display: flex;
    justify-content: space-between;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    
    width: 100%;

}

main>ul>li:nth-last-child(1),
main>ul>li:nth-last-child(2){
    opacity: 0;
    height: 0;
}

main>ul>li {
    width: 26vw;
    height: 10vh;
    margin-bottom: 2vh;
    background-color: #dfeaf7;
    border: 1px solid #648cbf;
    border-radius: .8em;
    color: #333;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

main ul li .room_no {
    /* background-color: navajowhite; */
    height: 2.8vh;
    line-height: 2.8vh;
    text-align: center;
    font-size: 1em;
    color: #333;
    border-bottom: 1px solid #648cbf;

}

main ul li .room_info {
    flex-grow: 1;
    /* background-color: indianred; */
}

main ul li .room_info {
    display: flex;
    align-items: stretch;
}

main ul li .lable_tag {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #1C4C8C; */
}

.lable_tag>ul {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* 以下注意更改 */
    justify-content: space-around;
    align-items: center;


}

.lable_tag>ul>li {
    background-color: #bbd3f1;
    border: 1px solid #648cbf;
    width: 80%;
    overflow: hidden;
    font-size: .7em;
    text-align: center;
    line-height: 1.6vh;
    border-radius: 1vh;
    overflow: hidden;  
    /* text-overflow: ellipsis;  */
    white-space: nowrap; 
}


main ul li .room_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    border-left: 1px solid #648cbf;
    /* background-color: indigo; */
}

.room_item>ul {
    height: 90%;
    width: 90%;
    /* background-color: #1C4C8C; */
    display: grid;
    grid-template-columns: auto auto;
}

.room_item>ul>li {
    /* background-color: #648cbf; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
}

.room_item_box {
    /* background-color: #1C4C8C; */
    background-color: #bbd3f1;
    height: 2.5vh;
    width: 2.5vh;
    border-radius: 50%;
}
.room_item_box[data_checked=true]{
    background-color: #1C4C8C;
}

/* main End */