/* aside start */
.title {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    height: 6vh;
    background-color: #bbd3f1;
}

#RommId {
    background-color: #1C4C8C;
    line-height: 6vh;
    color: #FFF;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 5vw 0 8vw;
    border-bottom-left-radius: 5vw;

}

.title h1 {
    padding-left: 6vw;
    color: #1C4C8C;
    font-size: 1.5em;
    line-height: 6vh;
    font-weight: bold;

}


aside {

    width: 100vw;
    padding: 0 6vw;
    /* background-color: aquamarine; */
}

aside .tag_box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 2px dashed #1C4C8C;
    border-radius: 1em;
    margin-top: 1vh;
    padding-top: 1vh;
    padding-bottom: 2vh;
    overflow: hidden;
}

aside .tag_box>span {
    border: 1px solid #1C4C8C;
    border-radius: 1vh;
    font-size: .8em;
    margin: 0 2vw 1vh;
    padding: .2vh 1.4vw;
    background-color: #bbd3f1;
    color: #0a1c32;
    font-weight: bold;
}

aside #Open {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10vw;
    height: 2vh;
    font-weight: bold;
    line-height: 2vh;
    font-size: 0.7em;
    color: #1C4C8C;
    background-color: #FFF;
    border-top-left-radius: 2vh;
    border-top: 1px solid #1C4C8C;
    border-left: 1px solid #1C4C8C;
    padding-left: 2vw;
    font-weight: bold;

}

/* aside End */

/* main Star */
main {
    width: 100vw;
    margin-top: 2vh;
    padding: 0 6vw;
}

main .user_info {}

main .user_info ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

main .user_info ul li {
    height: 16vh;
    margin-bottom: 3vh;
    border-radius: 2vh;
    /* background-color: #bbd3f1; */
    border: 1px solid #1C4C8C;

}

main .user_info ul li:last-child {
    margin-bottom: 0;
}

/* user_info_true选中状态 Start */
.user_info_true {
    position: relative;
}

.user_info_true .user_info_true_index {
    position: absolute;
    background-color: #bbd3f1;
    border-radius: 2vh;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 17vh;
    font-size: 16vh;
    color: #1c4d8c3d;
    z-index: -1;

}

.user_info_true .user_info_top {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: stretch;
}

.user_info_true .user_info_top_name {
    width: 12vw;
    border-right: #1C4C8C solid 1px;
    font-size: 1.4em;
    /* padding-right: 2vw; */
    line-height: 12vw;
    text-align: center;
    writing-mode: tb;
    color: #333;
}

.user_info_true .user_info_top_tag {
    flex-grow: 1;

}

.user_info_true .user_info_top_tag {
    padding: .6vh 0 0 2vw;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;

}

.user_info_true .user_info_top_tag span {
    border: 1px solid #fefade;
    border-radius: 1vh;
    font-size: .8em;
    padding: .3vh 1.4vw;
    /* background-color: #bbd3f1; */
    background-color: #1C4C8C;
    /* color: #0a1c32; */
    color: #fefade;
    font-weight: bold;
    margin-bottom: .4vh;
    margin-right: 2vw;
}

.user_info_true .user_info_end {
    height: 30%;
    padding: 1vh;
    color: #333;
    /* background-color: #0a1c32; */
    border-top: 1px solid #1C4C8C;
    font-weight: bold;
    overflow: hidden;
}

/* user_info_true 选中状态 End */

/* user_info_false 未选中状态 Start */
.user_info_false {
    display: flex;
    background-color: #f5fafe;
}

.user_info_false .user_info_left {
    width: 30%;
    height: 100%;
    /* background-color: #bbd3f1; */
    text-align: center;
    line-height: 17vh;
    font-size: 16vh;
    color: #1c4d8c3d;
    border-right: 1px solid #1C4C8C;

}

.user_info_false .user_info_right {
    width: 70%;
    height: 100%;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
}

.user_info_false .user_info_right p {
    height: 50%;
    width: 100%;
    /* background-color: #1C4C8C; */
    text-align: center;
    line-height: 8.5vh;
    font-size: 6vh;
    color: #1c4d8c;

}

.user_info_false .user_info_right p:nth-child(1) {
    border-bottom: 1px dashed #1C4C8C;
}

/* user_info_false 未选中状态 End */

/* main End */

/* 加入弹窗 */
.room_popup {
    padding: 1vh 5vw;
    width: 80vw;
    height: 26vh;
}

.room_msg {
    width: 55%;
    margin: 1vh auto;
    justify-content: space-between;
    display: flex;
    font-weight: 600;
    font-size: 1.1em;
}

.room_popup h2 {
    text-align: center;
    position: relative;
}

.room_popup h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    border-bottom: 1px dashed #1C4C8C;
}

.room_popup>.popup_msg {
    text-indent: 2em;
    line-height: 1.8em;
}

.room_popup>.popup_btn {
    width: 55%;
    margin: 3.5vh auto 2vh auto;
    display: flex;
    justify-content: space-between;
}